*{
    margin: 0;
}
header{
    
    background-color: rgb(0, 78, 109);
    height: 500px;
    text-align: center;
    width: 100%;
    color: white;
}
header h1{
  
    transition-duration: 1s;
}
header h1:hover{
    
    text-align: center;
    
    position: relative;
     color: transparent;
     -webkit-text-stroke: 3px white;
     letter-spacing: 20px;
     font-size: 3em;
    
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#fundo{
    z-index: -1;
    width: 100%;
    height: 100%;
}
#fundo img {
    width: 100%;
    height: 100%;
}

#blibioteca{
    width: 100%;
    height: 500px;
}
.livros{

    margin: 10px;
    background-color: brown;
    width: 150px;
    height: 200px;
}
.livros img{
    transition-duration: 1s;
    width: 100%;
    height: 100%;
}
.info{
    
    background-color: black;
    color: white;
    padding: 10px;
    width: 300px;
    height: 200px;
    visibility: hidden;
    border-radius: ;
}
.info h2{
    text-align: center;
    margin-bottom: 10px;
}
.livros img:hover{
    width: 110%;
    height: 110%;
}
.livros img:hover ~ .info{
   
    visibility: visible;

}
a{
    text-decoration: none;
}
main{
    font-size: 1.4em;
    margin-top: 20px;
    margin: auto;
    width: 600px;
}
#escuro{

    height: 100vh;
    width: 100%;

}
#black{
    position: fixed;
  margin: 0%;
  padding: 0%;
}
#check{
    
    display: inline;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
}
#check img{
   
    width: 30px;
}
#luna{
    visibility: hidden;
}
#black:checked ~ #check img{
    visibility: visible;
   
}
#black:checked ~ #check #sun{
    visibility: hidden;
   
}
#black:checked ~ #escuro{
    background-color: black;
    color: white;
}
