.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cart{
    bottom:14% ;
    left: 2.5% ;
    position: absolute;
    z-index: 1000;
    width: 400px;
    background-color: rgb(242, 210, 184);
    height: 250px;
    z-index: 1000;

    
}
.subindo{
    animation: subir 1s linear forwards ;
}
@keyframes subir{
    100%{
        bottom: 60%;
    }
}

.sair{
    animation: sair 1s linear forwards ;
}
@keyframes sair{
    100%{
        bottom: 14%;
    }
}
#titulo{
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 30px;
    width: 200px;
    
    color:rgb(0, 0, 0) ;
   
}
.linhas{
    margin-top: 20px;
    top: 20%;
    margin-left: 10px;
    left: 2%;
    width: 350px;
    
    color:  rgb(0, 0, 0);
}
.cartao{
    background-color: rgb(240, 190, 198);
    position: relative;
    width: 420px;
    height: 270px;
}

#flex{
  
   z-index: 10000;
    display: flex;
}
#gab{
    z-index: 20000;
    position: relative;
}


#triangulo1 {
    z-index: 2000;
    position: absolute;
    width: 0; 
    height: 0; 
    top: -00%;
    border-left: 210px solid transparent;
    border-right: 210px solid transparent;
    border-bottom: 140px solid rgb(193, 41, 66);
    transform-style: preserve-3d; /* Permite que o efeito 3D seja mantido */
    transform: rotateX(180deg); */
}
.aberto {
    animation: girar 0s linear forwards;
}

@keyframes girar {
    100% {
        transform: rotateX(360deg); /* Aplica a rotação em 3D */
        
    }
}
#triangulo2 { 

width: 0; 
height: 0; 
border-top: 140px solid transparent;
border-bottom: 132px solid transparent;
border-left: 212px solid rgb(236, 147, 162);
}
#triangulo3 {
    position: absolute;
    left: 50%;
width: 0; 
height: 0; 
border-top: 140px solid transparent;
border-bottom: 132px solid transparent; 
border-right:210px solid rgb(236, 147, 162) ; 
}
#triangulo4{
    bottom: 0;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 210px solid transparent;
    border-right: 210px solid transparent;
    border-bottom: 133px solid rgb(250, 132, 132);
}
#botoes{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
button{
    cursor: pointer;
    color: white;
    background-color: rgb(242, 138, 155);
    border: none;
    padding: 10px;
    font-size: 16px;
    transition-duration: .5s;
}
button:hover{
    background-color: rgb(240, 86, 111);
}