* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f0f4c3, #e1bee7);
    text-align: center;
    padding: 20px; /* Diminuído o padding */
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    max-width: 500px; /* Limita a largura máxima */
    margin: auto; /* Centraliza a container */
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input {
    padding: 15px;
    margin: 10px 0;
    width: 100%; /* Altera a largura para 100% */
    max-width: 300px; /* Limita a largura máxima */
    border: 2px solid #ff9af0;
    border-radius: 25px;
    font-size: 16px;
    transition: border 0.3s;
}

input:focus {
    border: 2px solid #d266e6;
    outline: none;
}

button {
    padding: 15px 30px;
    background: #e1bee7;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: #ad5af2;
    transform: translateY(-2px);
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0; /* Remove o padding da lista */
}

li {
    background: #decdf0;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s;
}

li:hover {
    transform: scale(1.02);
}

.delete-btn {
    background: #e57373;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 20px; /* Diminuído o padding para telas menores */
    }

    input, button {
        width: 90%; /* Aumenta a largura dos inputs e botões para 90% em telas menores */
    }

    button {
        padding: 10px 20px; /* Ajusta o padding dos botões */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px; /* Ajusta o tamanho do título para telas pequenas */
    }

    input, button {
        font-size: 14px; /* Ajusta o tamanho da fonte para inputs e botões */
    }
}
